@font-face {
    font-family: 'Round';
    src: url("../fonts/Round.ttf");
}

/*html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}*/

body h1, a, footer{
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
}

body h2, h3, h5, li{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body .navbar-fixed-top{
    width: 100%;
}

body{
    background: white;
}

/*NAVIGATION STUFF- -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -*/
.navbar .navigation {
    background: rgba(105, 210, 231, 0.6);
}

.navbar .brand, .navbar .nav > li > a:hover {
    background: rgba(224, 228, 204, 0.6);
}

.navbar .brand, .navbar .nav > li > a:active {
    background: rgba(105, 210, 231, 0.6);
}

.iconbar{
    color: white;
}

.navigation a{
    color: white;
    font-size: 20px;
}

.affix .navigation{
    background: white;
}

.affix a{
    color: rgba(105, 210, 231, 1);
}

.affix .navigation .nav > li > a:hover {
    background: rgba(243, 134, 48, 1);
    color: white;
}

.affix .navigation .nav > li > a:active {
    background: rgba(105, 210, 231, 1);
}

a.anchor {
    display: block; 
    padding-top: 40px;
    margin-top: -40px;
}


/*HEADER STUFF -    -   -   -   -   -   -   -   -   -   -   -   -   -   -*/
.header{ 
    /*rgba(243, 134, 48, 0.4)*/
    background: url(../img/dots2.jpg) no-repeat center center fixed; 
    /*background-color: darkgrey;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20px;
    min-height: 100vh;
    margin-bottom: 50px;
    width: 100%;
}

.header .center2{
    width: 100%;
    margin-top: 80px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.header .center .container-fluid .row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
    color: white;
    
}
.center h2{
    margin-bottom: 10px;
}
.header h1{
    font-size: 60px;
    
}
.header h2{
    font-size: 40px;
}
.header h5{
    font-size: 20px;
}

/*Body Stuff -  -   -   -   -   -   -   -   -   -   -   -   -   -   -*/
.body{
    text-align: center;
}
.body .container-fluid{
    padding: 0;
}
.body .container-fluid .row{
    width: 100%;
    margin: 0;
}
.body h1{
    font-size: 50px;
}
.body h2{
    font-size: 30px;
}
.body h3{
    font-size: 20px;
}

.about, .full-skills, .projects, .contacts{
    min-height: 100vh;    
}



.body >.container-fluid .about{
    background: white;
}
.body >.container-fluid .about h1{
    color: rgba(250, 105, 0, 1);
}
.body>.container-fluid .about .img-shrink{
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.body >.container-fluid .full-skills{
    background: rgba(167, 219, 219, 1.0);
}
.body >.container-fluid .full-skills h1{
    color: white; 
}
.body >.container-fluid .skills h3, li{
    color: white; 
}



.body >.container-fluid .projects{
    background: white;
}
.body >.container-fluid .projects h1{
    color: rgba(250, 105, 0, 1); 
}



.body >.container-fluid .contacts{
    background: rgba(167, 219, 219, 1.0);
}
.body >.container-fluid .contacts h1{
    color: white; 
}
.body >.container-fluid .contacts h2{
    color: white; 
}

/*SKILLS SECTION STUFF -    -   -   -   -   -   -   -   -   -   -   -   -   -   -*/
.full-skills table{
    border-spacing: 0;
    
}

.round-img{
    display: block;
    width: 250px;
    margin: 35px;
    padding: 0px;
}
.overlay {
    display: none;
    position: absolute;
    top:0;
    left:0;
    padding: 50px;
    padding-top: 40px;
    width:100%;
    height:100%;   
}
.overlay h3{
    font-size: 25px;
}
.overlay li{
    font-size: 20px;
}
.img-text1, .img-text2,.img-text3,.img-text4 {
    display: inline-block;
    position: relative; 
    text-align: justify;
}


/*THIS IS JUST HERE TO MAKE THE CAROUSEL WORK-  -   -   -   -   -   -   -   -   -   -*/
#carousel-example-generic{  
}


/*FOOTER STUFF -    -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -*/
.footer1{
    background: rgba(243, 134, 48, 1);
    text-align: center;
    width: 100%;
    padding: 25px;
}
.footer2{
    background: linear-gradient(167deg, rgba(105, 210, 231, 0.0), rgba(105, 210, 231, 0.0)), url(../img/dots2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 50px;
}
footer p{
    color: white;
    font-size: 16px;
}


/*DAT TROLL BLINKING CURSOR   - -   -   -   -   -   -   -   -   -   -   -   -   -*/
.blinking-cursor {
    font-family: "Lato";
    font-weight: 100;
    font-size: 35px;
    color: aqua;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header .center2{
        padding-top: 200px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .header .center2{
        padding-top: 120px;
    }
    .header h1{
        font-size: 40px;
    }
    .header h2{
        font-size: 16px;
    }
    .header h5{
        font-size: 14px;
    }
    .body h1{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .body h2{
        font-size: 20px;
    }
    .body h3{
        font-size: 18px;
    } 
    .round-img{
        display: block;
        width: 250px;
        margin: 0;
        margin-bottom: 50px;
        padding: 10px;
    }
    .overlay {
        display: none;
        position: absolute;
        top:0;
        left:0;
        padding: 0px;
        width:100%;
        height:100%;   
    }
    .overlay h3{
        font-size: 20px;
    }
    .overlay li{
        font-size: 16px;
    }
}

@media only screen and (max-width : 320px){
    .header .center2{
        padding-top: 40px;
    }
    .header h1{
        font-size: 40px;
    }
    .header h2{
        font-size: 18px;
        margin-top: 0px;
    }
    .header h5{
        font-size: 14px;
    }
    .body h1{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .body h2{
        font-size: 20px;
    }
    .body h3{
        font-size: 18px;
    } 
    .round-img{
        display: block;
        width: 250px;
        margin: 0;
        margin-bottom: 50px;
        padding: 10px;
    }
    .overlay {
        display: none;
        position: absolute;
        top:0;
        left:0;
        padding: 0px;
        width:100%;
        height:100%;   
    }
    .overlay h3{
        font-size: 20px;
    }
    .overlay li{
        font-size: 16px;
    }  
}

body .navbar .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}


