@font-face {
    font-family: Round;
    src: url(../fonts/Round.ttf);
}
body h1, a, footer{
    font-family: Round;
}

body h2, h3, h5, li{
    font-family: "Lato";
}

.navigation{
    background-color: rgba(192, 184, 142, 0.2);
}

.navigation a{
    color: white;
    font-size: 20px;
}


.nav2{
    background-color: rgba(40, 19, 14, 0.5);
    width: 100%;
    padding: 10px;
}

.center{
    text-align: center;
    /*text-shadow: 2px 2px rgba(131, 207, 255, 1);*/
    margin-top: 220px;
    color: white;
}

.center h2{
    margin-bottom: 50px;
}

.header{ 
    background: linear-gradient( rgba(255, 195, 49, 0.5), rgba(0, 0, 30, 0.5)), url(../img/sun.jpg) no-repeat 50% 0% fixed;
    /*background-color: darkgrey;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
    padding-top: 20px;
    min-height: 100vh;
    margin-bottom: 30px;
}

.header h1{
    font-size: 60px;
}

.header h2{
    font-size: 40px;
}

.header h5{
    font-size: 20px;
}

.affix .navigation{
    background: white;
}

.affix .nav2{
    background: none;
    display: none;
}

.affix a{
    color: rgba(189, 149, 70, 1);
}

.affix-top{
}

a.anchor {
    display: block; 
    padding-top: 30px;
    margin-top: -30px;
}


.body{
    background-color:#ffffff;
    text-align: center;
}

.body h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.body h2{
    font-size: 20px;
}

.body h3{
    font-size: 20px;
}

.about, .skills, .projects, .contacts{
    margin-bottom: 50px;
}

.about h1, .skills h1, .projects h1, .contacts h1{
    color: rgba(104, 65, 16, 1);
}

.spacer{
    margin: 0;
    padding: 0;
}

.skills .nopadding {
    margin: 0;
    padding: 0;
}

.round-img{
    display: block;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
}

.overlay {
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    padding: 50px;
}

.overlay h3{
    font-size: 30px;
}

.overlay li{
    font-size: 20px;
}

.img-text1, .img-text2,.img-text3,.img-text4 {
    display: inline-block;
    position: relative; 
    text-align: justify;
}



#carousel-example-generic{
    
}

html{
    background-color:rgba(192, 184, 142, 0.3);
}

hr {
    width: 80%;
    border: none;
    height: 3px;
    /* Set the hr color */
    background-color: rgba(59, 30, 14, 1); /* Modern Browsers */
}

.footer1{
    background:linear-gradient( rgba(40, 19, 14, 0.8), rgba(40, 19, 14, 0.8)), url(../img/sun.jpg) no-repeat 50% 0% fixed;
    text-align: center;
    width: 100%;
    padding: 50px;
    margin-top: 200px;
}
.footer2{
    /*background-color: rgba(192, 184, 142, 0.8);*/
    background: linear-gradient(rgba(255, 195, 49, 0.3), rgba(255, 195, 49, 0.3)), url(../img/sun.jpg) no-repeat 50% 0% fixed;
    text-align: center;
    width: 100%;
    padding: 50px;
}
footer p{
    color: white;
    font-size: 16px;
}

.blinking-cursor {
    font-family: "Lato";
    font-weight: 100;
    font-size: 40px;
    color: #FFFFFF;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

