.navigation{
    padding: 10px;
}

.navigation a{
    color: white;
    font-size: 20px;
}

.center{
    text-align: center;
    margin-top: 150px;
    color: white;
}

.center h2{
    margin-bottom: 50px;
}

body{
   background: none;
}

.header{ 
    background: linear-gradient( rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(../img/sanfrancisco2.jpg) no-repeat 50% 0% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 210px;
}

.header h1{
    font-size: 60px;
}

.header h2{
    font-size: 40px;
}

.header h5{
    font-size: 20px;
}

.affix{
    background-color:darkblue;
}

.affix-top{
}

a.anchor {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}


.body{
    background: white;
}

.about{
    margin-bottom: 50px;
    text-align: center;
}

.about h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.about h2{
    font-size: 20px;
}

.about h3{
    font-size: 20px;
}

.projects{
    margin-bottom: 50px;
    text-align: center;
}

.projects h1{
    font-size: 50px;
    margin-bottom: 50px;
}

#carousel-example-generic{
    
}

html{
    background-color:#ffffff;
}

hr {
    width: 70%;
}

footer p{
    text-align: center;
    color: black;
    font-size: 16px;
    padding: 5px;
}

